@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

@media (max-width: 960px) {
  .main_container {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .main_container {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .main_container {
    width: 100%;
  }
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background-color: #fce3ff;
  display: flex;
  flex-direction: column;
}
.header {
  margin: 0;
  padding: 0.5em;
  background-color: #111;
  color: #ffffff;
  text-align: center;

}
.card {
  width: 40rem;
  display: flex;
  align-self: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font: inherit;
  font-size: 100%;
  margin-top: 4rem;
  vertical-align: baseline;
  border-style:groove;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .profile_img {
    background-image: url("images/Cropped_profile_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 70%;
  }

  .profile_img:hover {
    background-image: url("images/fukidashi_tensyoku_woman.png");
    cursor: pointer;
  }

  .profile_text {
    font-size: 1.5em;
    text-align: center;
  }

  .le_wagon_logo {
    vertical-align: middle;
    width: 50px;
    height: 30px;
  }

  .social_links_header {
    text-align: center;
  }
