@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

@media (max-width: 960px) {
  .main_container {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .main_container {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .main_container {
    width: 100%;
  }
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background-color: #fce3ff;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: #ffffff;

}
.main_container {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
}
.title_center {
  text-align: center;
}
.sub_title {
  text-align: center;
}
.strike_through_sub_title {
  text-decoration: line-through;
}

.profile_info {
display: flex;
flex-direction: column;
align-items: center;
}

  .profile_img_div {
  display: flex;
  flex-direction: column;
  align-items: center;

  }
  .profile_img {
    margin-left: 1em;
    width: 250px;
    height: 250px
  }
  .profile_article {
    margin-left: 1em;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.2em;
    text-align: center;

  }
  .btns_social_links {
    display: flex;
    flex-direction: column
  }
  .follow_me_btn {
    align-self: center;
    margin-top: 2em;
    margin-left: 4em;
    width: 200px;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
    background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
    background-color:#ff5bb0;
    border-radius:6px;
    border:1px solid #ee1eb5;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #c70067;
  }
  a {
    text-decoration: none;
    color: #ffffff
  }

  .social_header {
    margin-left: 1.5em;
    font-weight: 800;
    color: #111
  }
  .social_links {
    list-style-type: none;
    margin-left: 0.75em;
  }
  .fa-lnkedin-in:hover {
    cursor: pointer
  }
  .fa-twitter:before {
    color: rgb(27, 27, 231);
  }
  .fa-linkedin-in:hover {
    cursor: pointer;
  }
  .fa-linkedin-in:before {
    color: rgb(27, 27, 231);
  }
